<div class="container">

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Nos logements :</h3><li><i class="fa fa-phone"></i></li>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">
          <% @logements.each do |logement| %> <!--link_to "galerie photo" , :id -> logement.id-->   
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="<%= logement.image.url %>" alt="">
                    <div class="caption">
                        <h5 class="desc_home"><%= logement.city.capitalize %>, <%= logement.desc_home %> </h5>
                        
                        <p>
                            <h5 class="price"><%= logement.price %> € </h5><%= link_to "Plus d'infos" ,galerie_path(:id => logement.id)%>
                            
                        </p>
                    </div>
                </div>
            </div>
          <% end %>
            
        </div>
       

</div>
    <!-- /.container -->
