  <!DOCTYPE html>
<html>
<head>
  <title>Domtomimmo</title>
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "DomTom Immo", root_path, :class => "navbar-brand" %>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Investir" , investir_path %></li>
        <li><%= link_to "Notre agence" , apropos_path %></li>
        <li><%= link_to "Contact" ,  contact_path %></li>
         <li class="number "> <img src="phone.png" class="phone" />   02 62 02 43 31</li>
        <li><a href="documents.html" class="btn btn-primary pro">Propriétaire</a></li>
       
          </ul>
  
          <!--<form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Rechercher un F3...">
             <button type="submit" class="btn btn-default">Valider</button>
          </form>-->
        </div>
      </div>
    </nav>
	
 <div class="container">

<%= yield %>

<div class="row" id="footer">

  <footer>
        <p class="pull-right"><a href="#">revenir en haut</a></p>
        <span class="00">© 2015 Domtomimmo . <a href="apropos.html">Notre agence</a></span>
      </footer>
  
</div>
<!--<footer>
        <div class="container">
            <div class="row">
                    <p class="inner"> Copyright &copy; Domtom Immo 2015  <%= link_to "Notre agence" , apropos_path %> -  <%= link_to "Investir" , investir_path %> - <%= link_to "Documents", documents_path %> - <%= link_to "Contact" ,  contact_path %></p>  
            </div>
        </div>
</footer>-->
      <!--<div class="footer"> 
              <p class="inner"> Copyright &copy; Domtom Immo 2015  <%= link_to "Notre agence" , apropos_path %> -  <%= link_to "Investir" , investir_path %> - <%= link_to "Documents", documents_path %> - <%= link_to "Contact" ,  contact_path %></p>  
      </div>-->
</div>
</body>
</html>
